django
django-autoslug
django-stdimage
django-grappelli
django_compressor
django-sortable
django-adminfiles
django_libsass
markdown
feedparser
purl
django-markitup

python-memcached

-e git+https://github.com/mariocesar/sorl-thumbnail.git#egg=sorl-thumbnail
